<%- include('partials/header') -%>

<section class="text-gray-600 body-font overflow-hidden">
    <div class="container px-5 py-24 mx-auto">
      <div class="lg:w-4/5 mx-auto flex flex-wrap">
        <img alt="<%= item.itemName%>" class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded" src="<%= item.image%>">

        <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mb-6 lg:mb-0">
          <h2 class="text-sm title-font text-gray-500 tracking-widest mt-2">SKU <%= item.SKU%></h2>
          <h1 class="text-gray-900 text-3xl title-font font-medium mb-4"><%= item.itemName%></h1>

          <!-- <div class="flex mb-4">
            <a class="flex-grow text-indigo-500 border-b-2 border-indigo-500 py-2 text-lg px-1">Description</a>
            <a class="flex-grow border-b-2 border-gray-300 py-2 text-lg px-1">Reviews</a>
            <a class="flex-grow border-b-2 border-gray-300 py-2 text-lg px-1">Details</a>
          </div>
          <p class="leading-relaxed mb-4">Fam locavore kickstarter distillery. Mixtape chillwave tumeric sriracha taximy chia microdosing tilde DIY. XOXO fam inxigo juiceramps cornhole raw denim forage brooklyn. Everyday carry +1 seitan poutine tumeric. Gastropub blue bottle austin listicle pour-over, neutra jean.</p> -->

          <div class="flex border-t border-gray-200 py-2">
            <span class="text-gray-500">Status</span>
            <span class="ml-auto  px-3 py-1.5 text-xs font-medium uppercase <%= item.status === 'Restock' ? 'bg-red-100 text-red-700' : item.status === 'Upcoming' ? 'bg-amber-100 text-amber-700' : 'bg-green-100 text-green-700' %>"><%= item.status%></span>
          </div>


          <div class="flex border-t border-gray-200 py-3">
            <span class="text-gray-500">Quantity Remaining</span>
            <span class="ml-auto text-gray-900"><%= item.amountInStock%></span>
            <span class="my-auto text-xs uppercase ml-2"><%= item.units%></span>
          </div>


          <div class="flex border-t border-b mb-6 border-gray-200 py-3">
            <span class="text-gray-500">Reorder At</span>
            <span class="ml-auto text-gray-900"><%= item.reorderAt%></span>
            <span class="my-auto text-xs uppercase ml-2"><%= item.units%></span>
          </div>

          <!-- forms -->
          <!-- update amount in stock -->
          <form action="/item/changeQuantity/<%= item.id %>?_method=PUT" method="POST">
            <div class="mx-10 mt-10 mb-5 text-center">
              <label for="inStock" class="inline-block text-gray-500 text-sm sm:text-base mb-2">Quantity in Stock</label> 
              
              <div class="grid grid-cols-5 gap-2">
                <input name="inStock" type="text" class="bg-gray-50 text-gray-800 border focus:ring ring-indigo-300 rounded outline-none transition duration-100 px-3 py-2 col-span-3" />
  
                <button class="bg-white hover:bg-gray-100 active:bg-gray-200 focus-visible:ring ring-teal-300 border text-gray-500 text-sm font-semibold text-center rounded-lg outline-none transition duration-100 col-span-2" type="submit">Update</button>
              </div >
            </div >
          </form>

          <!-- update Reorder at quantity -->
          <form action="/item/changeReorderAt/<%= item.id %>?_method=PUT" method="POST">
            <div class="mx-10 text-center">
              <label for="reorderAt" class="inline-block text-gray-500 text-sm sm:text-base mb-2">Change Reorder At</label> 
              
              <div class="grid grid-cols-5 gap-2">
                <input name="reorderAt" type="text" class="bg-gray-50 text-gray-800 border focus:ring ring-indigo-300 rounded outline-none transition duration-100 px-3 py-2 col-span-3" />
  
                <button class="bg-white hover:bg-gray-100 active:bg-gray-200 focus-visible:ring ring-teal-300 border text-gray-500 text-sm font-semibold text-center rounded-lg outline-none transition duration-100 col-span-2" type="submit">Update</button>
              </div >
            </div >
          </form>


          <!-- update units -->
          <form action="/item/changeUnits/<%= item.id %>?_method=PUT" method="POST">
            <div class="mx-10 mt-5 text-center">
              <label for="units" class="inline-block text-gray-500 text-sm sm:text-base mb-2">Change Units</label> 
              
              <div class="grid grid-cols-5 gap-2">
                <input name="units" type="text" class="bg-gray-50 text-gray-800 border focus:ring ring-indigo-300 rounded outline-none transition duration-100 px-3 py-2 col-span-3" />
  
                <button class="bg-white hover:bg-gray-100 active:bg-gray-200 focus-visible:ring ring-teal-300 border text-gray-500 text-sm font-semibold text-center rounded-lg outline-none transition duration-100 col-span-2" type="submit">Update</button>
              </div >
            </div >
          </form >


          <!-- notes -->
          <!-- <div class="flex justify-center items-center relative">
            <span class="h-px bg-gray-200 absolute inset-x-0"></span>
            <label for="notes" class="bg-white text-gray-900 text-lg relative px-4 font-medium">Notes</label>
          </div>

          <form>
            <div class="w-full mb-4 border border-gray-200 rounded-lg bg-gray-50 dark:bg-gray-700 dark:border-gray-600">
                <div class="flex items-center justify-between px-3 py-2 border-b dark:border-gray-600 h-10">
                    
                </div>
                <div class="px-4 py-2 bg-white rounded-b-lg dark:bg-gray-800">
                    <label for="notes" class="sr-only">Add notes</label>
                    <textarea id="notes" rows="8" class="block w-full px-0 text-sm text-gray-800 bg-white border-0 dark:bg-gray-800 focus:ring-0 dark:text-white dark:placeholder-gray-400 p-5" placeholder="Add notes..." required></textarea>
                </div>
            </div>
            <button class="block bg-teal-600 hover:bg-transparent hover:text-teal-600 focus:outline-none focus:ring text-white text-sm md:text-base font-semibold text-center rounded-lg outline-none transition duration-100 px-8 py-3 rounded border border-teal-600 mt-3" type="submit">Submit</button>
         </form> -->



          <!-- <p class="p-5 leading-relaxed text-justify mb-4">Fam locavore kickstarter distillery. Mixtape chillwave tumeric sriracha taximy chia microdosing tilde DIY. XOXO fam inxigo juiceramps cornhole raw denim forage brooklyn. Everyday carry +1 seitan poutine tumeric. Gastropub blue bottle austin listicle pour-over, neutra jean.</p> -->
        </div>
      </div>
    </div>
  </section>

  <%- include('partials/footer') -%>