<%- include('partials/header') -%>


<!-- image -->

<!-- <section
  class="overflow-hidden bg-[url(/img/Science-rafiki.svg)] bg-cover bg-center bg-no-repeat"
> -->

  <!-- adds slight gradient over image -->
  <!-- <div class="bg-black/25 p-20 md:p-20 lg:px-20 lg:py-20">
  </div> -->

  <!-- <div class="p-20 md:p-20 lg:px-20 lg:py-20">
  </div>
</section> -->


<!-- title -->

<h1 class="text-black-800 text-3xl sm:text-4xl md:text-5xl font-bold mt-8 mb-8 md:mb-12 text-center">Restocks</h1>

<p class="text-gray-500 xl:text-lg leading-relaxed mb-8 md:mb-12 text-center px-10">Never run out of supplies again with our restocks page. Quickly view items running low.</p>

<!-- <h1 class="text-black-800 text-4xl sm:text-5xl md:text-6xl font-bold mt-8 mb-8 md:mb-12 text-center">Restocks</h1> -->

<!-- table -->



<div class="overflow-hidden overflow-x-auto rounded-lg border border-gray-200 text-center max-w-2xl mx-auto">
    <table class="min-w-full divide-y-2 divide-gray-200 text-sm">
      <thead>
        <tr class="bg-gray-100 h-16">
          <th
            class="whitespace-nowrap px-4 py-2 text-center font-medium text-gray-900"
          >
            Item Name
          </th>
          <th
            class="whitespace-nowrap px-4 py-2 text-center font-medium text-gray-900"
          >
          Amount Left
          </th>
          <th
            class="whitespace-nowrap px-4 py-2 text-center font-medium text-gray-900"
          >
            Status
          </th>
        </tr>
      </thead>
  
      <tbody class="divide-y divide-gray-200">

        <% for(var i=0; i<items.length; i++) {%>
        <tr class="h-16">
          <td class="whitespace-wrap px-10 py-2 text-gray-700 hover:underline hover:underline-offset-4">
            <a href="/item/<%= items[i]._id%>"><%= items[i].itemName%></a>
          </td>
          <td class="whitespace-wrap px-4 py-2 text-gray-700"><%= items[i].amountInStock%>

            <span class="text-xs uppercase ml-1"> <%= items[i].units%> </span>

          <td class="whitespace-nowrap px-4 py-2">
            <strong
              class="rounded px-3 py-1.5 text-xs font-medium uppercase <%= items[i].status === 'Restock' ? 'bg-red-100 text-red-700' : 'bg-amber-100 text-amber-700'%>"
            >
            <%= items[i].status%>
            </strong>
          </td>
        </tr>
        <% } %>
  
        <!-- <tr>
          <td class="whitespace-nowrap px-4 py-2 text-gray-700">
            George Harrison
          </td>
          <td class="whitespace-nowrap px-4 py-2 text-gray-700">$128.99</td>
          <td class="whitespace-nowrap px-4 py-2">
            <strong
              class="rounded bg-green-100 px-3 py-1.5 text-xs font-medium text-green-700"
            >
              In Stock
            </strong>
          </td>
        </tr>
  
        <tr class="bg-gray-100">
          <td class="whitespace-nowrap px-4 py-2 text-gray-700">Dave Gilmour</td>
          <td class="whitespace-nowrap px-4 py-2 text-gray-700">$459.43</td>
          <td class="whitespace-nowrap px-4 py-2">
            <strong
              class="rounded bg-amber-100 px-3 py-1.5 text-xs font-medium text-amber-700"
            >
              Upcoming
            </strong>
          </td>
        </tr> -->
      </tbody>
    </table>
  </div>



  <!-- reorder -->

  
  <div class="bg-white py-6 sm:py-8 lg:py-12">
    <div class="max-w-2xl mx-auto">
      <div class="flex flex-col sm:flex-row justify-center items-center bg-gray-100 rounded-lg gap-4 p-4 md:p-8">
  
        <a href="/inventory" class="inline-block bg-teal-600 hover:bg-teal-600 active:bg-teal-600 focus-visible:ring ring-teal-600 text-white text-sm md:text-base font-semibold text-center rounded-lg outline-none transition duration-100 px-8 py-3">Check All Inventory</a>
      </div>
    </div>
  </div>

<%- include('partials/footer') -%>